* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #fff;
}
/* Button */
.button {
  display: inline-block;
  border-radius: 1rem;
  background-color: #20db19;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  width: 13rem;
  height: 5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: fixed;
  bottom: 1rem;
  right: 4rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  height: 6.7rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 5;
  box-shadow: 0px 0px 5px;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  justify-content: center;
  gap: 2.7rem;
  align-items: center;
  list-style: none;
}

.nav__item {
  /* margin-left: 4rem;
  background: #199dd9;
  padding: 0.3rem 1.5rem;
  color: white;
  border-radius: 7px; */
}

.nav__item input {
  border: 0px;
  background: #f8f9f9;
  outline: none;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: #199dd9;
}
.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* To do section */

.todo__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
  border-radius: 1rem;
  border-color: #e0e0e0;
  background: #fff;
  opacity: 100;
  position: fixed;
  top: 15rem;
  left: 23vw;
  width: 51vw;
  z-index: 7;
  padding: 2rem 0rem;
}

.todo__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.rr {
  color: red;
  font-size: 1.4rem;
  font-weight: 500;
}

.todo__container input {
  border: 0px;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.5rem;
  height: 3rem;
  /* margin-bottom: 1rem; */
  padding: 0px 0px 0px 0.5rem;
  box-shadow: 1px 1px 9px 0px #c1a7a7;
}

textarea {
  font-size: 1.5rem;
  resize: none;
  padding: 0px 0px 0px 7px;
  border: 0px;
  border-radius: 4px;
  outline: none;
  line-height: 2;
  box-shadow: 0px 1px 4px -1px #2e2b2b;
}

.todo__container button {
  align-self: end;
  border: 0px;
  font-size: 1.7rem;
  background: rgb(25 157 217);
  color: #fff;
  width: 11rem;
  height: 3.5rem;
  border-radius: 0.6rem;
  cursor: pointer;
  margin-top: 1rem;
}

.todo__container button:hover {
  background-color: #25ff2c;
  transition: 0.6s;
  color: #fff;
}
.dt {
  margin-top: 1rem;
}

/* List Section  */

.list__section {
  /* margin: 11rem 3vw 4rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.list__container {
  display: grid;
  grid-template-columns: 1fr;
  background: rgb(134 143 249);
  color: #fff;
  width: 100%;
  padding: 1rem 1rem 0rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
  border-radius: 0.4rem;
  border-color: #e0e0e0;
  padding-bottom: 0.5rem;
}

.list__content h3 {
  font-size: 1.9rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.list__container p {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 400;
}

/* list nav */

.list__nav__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: end;
  font-size: 3.2rem;
  color: #199dd9;
}

.list__nav {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.list__nav:hover {
  color: white;
  transition: all 0.2s;
}

.display {
}

.animation__box {
  /* height: 8rem; */
  background-color: #fff0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 8rem;
  right: 0;
  width: fit-content;
  z-index: 5;
}

.animation {
  height: 9rem;
  width: 30rem;
  background-color: #fff;
  transform: translateX(40rem);
  background-color: #199dd9;
}
.temp {
  transform: none;
  transition: all 1s ease;
}

.ani__div {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
}

.ani__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.closeBtndiv {
  display: flex;
  font-size: 3rem;
  justify-content: end;
}

.tost__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
}

.toast__content {
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 1;
  width: 73%;
  margin-top: 7px;
}

.closeBtn {
  cursor: pointer;
}

.filter {
  font-size: 3.4rem;
  cursor: pointer;
  color: #199dd9;
}

.nav_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
  font-weight: 500;
  color: #199dd9;
}

.filters {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 1rem;
  align-items: flex-start;
}

.tooltiptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  z-index: 15;
}

.fil {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: fit-content;
  display: flex;
  z-index: 15;
}

.fil:hover {
  background: #5576ed;
  border-radius: 0.5rem;
}

.str {
  font-size: 1.3rem;
  font-weight: 500;
}

.animation__box__filter {
  background-color: #fff0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 5rem;
  right: 9rem;
  width: 25rem;
  z-index: -1;
  border-radius: 0.5rem;
  padding: 1rem;
}

.animation__filter {
  transform: translateX(40rem);
  background-color: #199dd9;
}

.closeBtndiv_f {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 7rem;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  justify-content: end;
}

.ani__div_f {
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
}

.closeBtndiv_f {
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.closeBtndiv_f h4 {
  font-size: 2.2rem;
}

.tost__container_f {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
}
.f_l {
  padding: 0px 1rem;
  width: fit-content;
  border-radius: 0.6rem;
  cursor: pointer;
  color: white;
}

.f_l:hover {
  background-color: #fdfdfd;
  color: blue;
}

.animation_f {
  /* height: 9rem; */
  width: 30rem;
  background-color: #fff;
  transform: translateX(40rem);
  background-color: #199dd9;
  border-radius: 0.6rem;
}

.temp {
  transform: none;
  transition: all 1s ease;
}

.ttt {
  font-size: 3rem;
  color: #199dd9;
  cursor: pointer;
}

/* .success {
  background-color: #32d919;
  background-color: #f9062d;
  background-color: #f5e90c;
} */
.success_c {
  background-color: #35dd1b;
}

.color_c {
  color: #2fc125;
}

.success_p {
  background-color: #ebe241;
}

.p_c {
  color: #e7ca3c;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fdd;
  border-color: rgb(15, 79, 255) transparent rgb(66, 204, 24) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.hidden {
  display: none;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.message {
  margin: 11rem 3vw 4rem;
}

@media screen and (max-width: 1272px) {
  .message {
    margin: 11rem 4vw 4rem;
  }
  .list__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav {
    padding: 0 3rem;
  }

  .nav_div {
    gap: 2rem;
    font-size: 2rem;
  }
  .animation__box__filter {
    right: 6rem;
  }
}

.transfor {
  text-transform: capitalize;
}

.drop_effect {
  transform: translateY(4rem) rotateZ(30deg);
  opacity: 0;
  transition: all 1.2s ease;
}

.fc {
  background-color: #fff;
  color: #199dd9;
}

.n_d {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .list__section {
    grid-template-columns: repeat(2, 1fr);
  }
  .message {
    margin: 11rem 4vw 4rem;
  }
  .nav {
    padding: 0 3rem;
  }
  .todo__section {
    left: 6vw;
    top: 10vw;
    width: 85vw;
  }
  .nav_div {
    gap: 2rem;
    font-size: 2rem;
  }
  .animation__box__filter {
    right: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .list__section {
    grid-template-columns: repeat(1, 1fr);
  }

  .message {
    margin: 11rem 7vw 4rem;
  }
  .nav {
    padding: 0 1rem;
  }

  .nav_div p {
    visibility: hidden;
  }
  .nav__links {
    gap: 0.5rem;
  }
  .nav__item input {
    width: 19rem;
  }
  .animation__box__filter {
    right: 0rem;
  }
  .animation_f {
    width: 26rem;
  }
}
